<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <div>
            <a href="/">Inicio</a> |
            <a href="/programa">Lista de Programas</a> |
            <a href="/institucion">Lista de Instituciones</a> |
        </div>
        <h1><%= title %></h1>
    </body>
</html>
